html,
body,
div,
span,
object,
iframe {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}
.shape {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    fill: #fff;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  .view-box {
      height: 100vh;
      width: 100vw;
      overflow: hidden;
      position: relative;
  }